.root {
  position: relative;

  padding: 15px 25px;

  button {
    margin-top: 10px;

    padding: 5px;
    cursor: pointer;
  }
}

.wrapper {
  margin: auto;
}

.table {
  td {
    min-width: 90px;
  }
}